.active{
 /* background-color: black; */
 .navball{
    background-color: black;
    color: white;
    scale: 1.3;
    /* text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(207, 47, 47, 0.3) 0px 30px 60px -30px; */
    top: -10px;
 }

}

@media (max-width: 767px) {
    .active {
      background-color: black;
      color: white;
      left: -10px;
      position: relative;
      /* other styles for small screens */
    }
  }